@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    font-family: 'Roboto', sans-serif;
}
table {
    border-collapse: collapse;
}
thead tr {
    background-color: #01987A ;
    color: #fff;
}
tr {
    border-bottom: 1px solid #ddd;;
}
th {
    font-size: 16px;
    padding: 10px 22px;
}

td {
    text-align: center;
    padding: 10px
}